/* ============ GOOGLE FONTS =========  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* ========== VARIABLES CSS==========  */
:root {
  /* === colors ===  */
  --hue-color: 242;

  /* HSL Color Mode  */
  --skin-color: hsl(342, 92%, 46%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /* --hue: 0;
  --sat: 5%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 89%);
  --container-color: #fff;
  --red-color: red; */

   /* === Font and Typography ===  */
   --body-font: 'Poppins', sans-serif;

   --biggest-font-size: 3rem;
   --h1-font-size: 2.25rem;
   --h2-font-size: 1.5rem;
   --h3-font-size: 1.25rem;
   --normal-font-size: 1rem;
   --small-font-size: .875rem;
   --smaller-font-size: .813rem;

   /* === Font Weight ===  */
   --font-medium: 500;
   --font-bold: 600;

   /* === Margins and Buttons ===  */
   --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ========= z index =========  */
  --z-fixed: 10;
  --z-modal: 100;
}

/* ===== RESPONSIVE TYPOGRAPHY ===== */
@media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.12rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* ===== BASE =====  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-size: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input {
    border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========= SIDEBAR ==========  */
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
}

.nav-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--skin-color);
  text-align: center;
  margin: auto;
}

.nav-logo-text {
 font-size: 1.125rem;
 color: var(--title-color);
 font-weight: var(--font-bold);
 line-height: 40px;
}

.nav-menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
}

.menu {
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: row-reverse;
  margin: 2px auto 0 auto;
}

.nav-link {
  float: right;
  height: 100%;
  line-height: 100px;
  padding: 0 1rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
  transition: .4s;
}

.btn-share {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  text-align: center;
}

.social-share {
  font-size: 1.5rem;
}

/* === active link ===  */
.nav-link.active-link, .nav-link:hover {
  color: var(--skin-color);
}



.nav-link.active-link::after, .nav-link:hover::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--skin-color);
  border-radius: 50%;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  margin: auto;
}

/* ========== MAIN ==========  */
.main {
  margin-left: 100px;
}

/* ===== REUSABLE CSS CLASSES =====  */
/* .section {
  padding: 6rem 0 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
} */

/* .section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section-title,
.section-subtitle {
  text-align: center;
} */

/* ===== LAYOUT =====  */
/* .container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
} */

/* ===== BUTTONS =====  */
/* .button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
} */

/* .button-icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
} */

/* ===== BREAKPOINTS =====  */
/* for large devices  */
/* @media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2rem;
    --b1-font-size: 1.5rem;
    --b2-font-size: 1.5rem;
    --b3-font-size: 1.5rem;
    --normal-font-size: 1.5rem;
  }

  .button {
    padding: 1rem 1.7rem;
  }

  .button-icon {
    width: 22px;
    height: 22px;
  }
} */



/* ====== for medium devices =====  */
/* @media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height);
  }

  .section {
     padding: 2rem 0 4rem;
  }

  .section-subtitle {
    margin-bottom: var(--mb-3);
  }
} */

/* ====== for small devices  */
/* @media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
     margin-right: var(--mb-1);
     margin-right: var(--mb-1);
  }
} */





